.userlist_box {
    margin: 3rem 0;
    background: var(--bg-color);
}

.userlist_box--title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.userlist_box--users,
.userlist_box--users--user,
.userlist_box--users--user--text,
.userlist_box--page_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userlist_box--users {
    flex-wrap: wrap;
}

.userlist_box--users--user {
    background: var(--bg-box-color);
    box-shadow: var(--boxshadow);
    padding: 1rem;
    margin: 1rem;
    width: 250px;
    height: 220px;
    flex-direction: column;
}

.userlist_box--users--user img {
    border-radius: 50%;
}

.userlist_box--users--user--text {
    flex-direction: column;
    color: var(--text-color);
    margin-top: 1rem;
}

.userlist_box--page_box {
    flex-direction: column;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.userlist_box--page_box--singlepage {
    margin: 0.5rem;
}