.userlistSearch_box,
.userlistSearch_box--inputwrapper,
.userlistSearch_box--userlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userlistSearch_box {
    flex-direction: column;
    padding-bottom: 2rem;
}

.userlistSearch_box--inputwrapper,
.userlistSearch_box--userlist {
    flex-wrap: wrap;
}

.userlistSearch_box--inputwrapper Button,
.userlistSearch_box--inputwrapper input {
    font-family:'Courier New', Courier, monospace;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem;
}

.userlistSearch_box--userlist--notfound {
    font-size: 1.5rem;
}

.userlistSearch_box--inputwrapper {
    padding: 1.5rem 0;
}